#wrapper{
    position: relative;
    top:95px;
}
.flex-container{
    display: flex;
}
section#ejercicioflex {
    flex-direction: column;
    justify-content: center;
}
section#ejercicioflex > div{
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
section#ejercicioflex img{
    width: 150px;
}
section#ejercicioflex article{
    flex-direction: column;
    justify-content: center;
}

main{
    flex-direction: column;
    flex-wrap: wrap;
}
.table-row{
    display: -webkit-flex;
    display: inline-flex;
    display: flex;
}
.wrapper{
    display: -webkit-flex; /* Chrome   */
    display: inline-flex;/* IE 9   */
    display: flex; /* W3C */
}
.colum{
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    vertical-align: top;
}
.index{
    width: 15px;
}
.name-surname-dni,
.name-surname,
.address-city-zip_code,
.email-telephone{
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
/*
.date_of_birth{
    width: 100px;
}
.name-surname-dni-date_of_birth{
    width:  200px;
}
*/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .movil_invisible{
        display: none;
    }
    .laptop_invisible{
        display: block;
    }
    header > nav > ul{
        flex-direction: column;
    }
    #wrapper{
        position: relative;
        top:410px;
    }
    body > header{
        height: 350px;
        top:0px;
    }
    .name-surname-dni-date_of_birth,
    .address-city-zip_code,
    .email-telephone,
    .name-surname-dni,
    .name-surname{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .name-surname-dni-date_of_birth{
        flex-direction: row;
        justify-content: center;/* me lo centra en eje pricipal (X)*/
        align-items: flex-start;/* me lo justifica a la izquierda en el eje secundario (Y)*/
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .name-surname-dni{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .movil_invisible{
        display: block;
    }
    .laptop_invisible{
        display: none;
    }
    header > nav > ul > li > a {
        max-width: 500px;
        font-size: 1.7rem;
        line-height: 2rem;
    }
    #wrapper{
        position: relative;
        top:95px;
    }
    body > header{
        height: 95px;
        top:0px;
    }
    header > nav > ul > li > a > div > span {
        margin: 4px 0 0;
    }
    header > nav > ul{
        flex-direction: row;
    }



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



body > header {
    background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

header > nav > ul > li {
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all linear 0.1s;
}

header > nav > ul > li:hover {
    background: rgba(58,162,173,1);
}

header > nav > ul > li a + div {
    background: linear-gradient(to bottom,rgba(58,162,173,1) 0,rgba(62,188,207,0.96) 100%);;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 3px 1px rgba(0,0,0,.05);
    display: none;
    font-size: 1rem;
    position: absolute;
    width: 195px;
}

header > nav > ul > li:hover a + div {
    display: block;
}

header > nav > ul > li a + div > ul {
    list-style-type: none;
}

header > nav > ul > li a + div > ul > li {
    margin: 0;
    padding: 0;
}

header > nav > ul > li a + div > ul > li > a {
    color: rgba(255,255,255,.9);
    display: block;
    font-size: .75rem;
    letter-spacing: 1.5px;
    padding: .25rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

header > nav > ul > li a + div > ul > li:hover > a {
    background-color: rgba(0,0,0,.15);
}

header > nav > ul > li > a {
    align-items: flex-start;
    color: #fff;
    display: flex;
    font-size: 1.55rem;
    font-weight: 200;
    letter-spacing: 1px;
    max-width: 130px;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    transition: all linear 0.1s;
}

header > nav > ul > li > a > div > span {
    color: rgba(255,255,255,.75);
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: .7rem;
    font-style: italic;
    line-height: 1rem;
    max-width: 260px;
}